/* Custom Bootstrap colors */
:root {
  --bs-primary: #0033a0;
}

body {
  height: 100vh;
}

.logo {
  width: 50px;
}

#header {
  background-color: var(--bs-primary);
  color: white;
}

#map {
  background-color: beige;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-header {
  background-color: var(--bs-primary);
  color: white;
}

#ui-control,
#info-control,
#legend {
  color: var(--bs-primary);
  padding: 10px;
  background-color: white;
  border: 2px solid var(--bs-primary);
  max-width: 200px;
}

.offcanvas-header {
  background-color: var(--bs-primary);
}

#legend {
  width: auto;
  height: auto;
  /* padding: 6px 8px;
  font-size: 1rem;
  border-radius: 5px; */
}

#legend ul {
  list-style-type: none;
  padding: 0px;
}

.legImg {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.leaflet-popup-own .leaflet-popup-content-wrapper {
  border: 2px solid var(--bs-primary);
}

.leaflet-popup-own .leaflet-popup-tip {
  border: 2px solid var(--bs-primary);
}

.leaflet-popup-own .leaflet-popup-content {
  color: var(--bs-primary);
}

/* When screen is 768px or wider */
@media screen and (min-width: 768px) {
  #map {
    border-top: none;
  }

  #ui-control,
  #info-control {
    max-width: 250px;
  }
}
